header {
  background-color: rgb(0, 50, 157);
  margin: 0px !important;
  padding: 10px !important;
  text-align: start;
  color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > p {
  margin: 0px;
  padding: 0px;
}
.header--title {
  font-size: 33px;
}

.header--mode {
  font-size: 15px;
}

body {
  background-color: rgb(248, 230, 214);
  font-family: 'Lato', sans-serif;
  margin: 0px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resetButton {
  padding: 1.5em 0.5em;
}

.playerSubmit {
  padding: 1.5em 1.1em;
}

.resetButton, .playerSubmit {
  margin: 10px;
  background-color: rgb(0, 81, 255);
  border: solid 3px rgb(179, 120, 188);
  border-radius: 100%;
  text-align: center;
  font-size: large;
  color: beige;
  font-family: 'Lato', sans-serif;
}

.resetButton:hover, .playerSubmit:hover {
  border-radius: 100%;
  margin: 10px;
  background-color: rgb(112, 152, 239);
  transform: rotate(360deg);
  transition: all 0.9s ease-in-out;
}

.form {
  font-size: large;
}

#playerInput {
  padding: 7px;
  text-overflow: ellipsis;
  width: 200px;
  text-align: center;
}

#playerInput:focus {
  outline-color: rgb(179, 120, 188);
}

.answer-block {
  width: 300px;
  height: 100px;
  padding: 10px;
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0%;
  border: 0%;
  margin: 0%;
  width: 100%;
  background-color: rgb(0, 50, 157);
  padding: 0px;
  display: flex;
  flex-direction: row;
  font-size: medium;
  justify-content: space-evenly;
}

#footer > p {
  padding: 0px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.result {
  font-weight: 700;
}

.homepage-button {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 81, 255);
  border: solid 3px rgb(179, 120, 188);
  color: beige;
  font-family: 'Lato', sans-serif;
  /* margin: 50px; */
}

.homepage-button:hover {
  transform: rotate(360deg);
  transition: all 0.9s ease-in-out;
}

.homepage-button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-left: 340px; */
  /* padding-right: 340px; */
  /* padding-top: 50px; */
  /* align-content: center;
  align-items: center;
  align-self: center; */
}

.rock-button, .paper-button, .scissors-button {
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 81, 255);
  border: solid 3px rgb(179, 120, 188);
  border-radius: 100%;
  /* text-align: center; */
  font-size: medium;
  color: beige;
  font-family: 'Lato', sans-serif;
}

.game-button:hover {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
}

#scores {
  /* background-color: rgb(193, 190, 190); */
  padding: 8px 0px;
}

.button-mode {
  padding: 100px;
}

#retro {
  font-weight: bold;
  font-size: 17px;
}

#modern {
  font-weight: bold;
  font-size: 17px;
}
